@import url('https://fonts.googleapis.com/css?family=Spline+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

:root {
    --background-color-light: #f0f0f0;
    --background-color-dark: #1E252B;
    --text-color-light: #444445;
    --text-color-dark: #f0f0f0;
    --secondary-color-light: #ffffff;
    --secondary-color-dark: #262D34;
    --button-color-light: #7f4fd9;
    --button-color-dark: #6c3cc5;
    --button-hover-light: #9673e8;
    --button-hover-dark: #7a4fca;
    --dropdown-dark: #333;
    --dropdown-light: #F0F0F0;
    --dropdown-content-dark: #D3D3D3;
    --dropdown-content-light: #555;
    --dropdown-hover-dark: #3C4451;
    --dropdown-hover-light: #E8E8E8;
    /* Ryan's colours */
    --secondary-button-color-dark: #333C45;
    --secondary-button-color-light: #DBDFE5;
    --secondary-text-color-dark: #cbcbcb;
    --secondary-text-color-light: #747474;
    --title-colour-darkmode: #9f5cff;
    --title-colour-lightmode: #7f4fd9;
    --link-colour-darkmode: #93BAFD;
    --link-colour-lightmode: #2B56A7;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --text-color: var(--text-color-light);
        --secondary-color: var(--secondary-color-light);
        --button-color: var(--button-color-light);
        --button-hover: var(--button-hover-light);
        --dropdown: var(--dropdown-light);
        --dropdown-content: var(--dropdown-content-light);
        --dropdown-hover: var(--dropdown-hover-light);
        --secondary-button-color: var(--secondary-button-color-light);
        --secondary-text-color: var(--secondary-text-color-light);
        --title-colour: var(--title-colour-lightmode);
        --link-colour: var(--link-colour-lightmode);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --text-color: var(--text-color-dark);
        --secondary-color: var(--secondary-color-dark);
        --button-color: var(--button-color-dark);
        --button-hover: var(--button-hover-dark);
        --dropdown: var(--dropdown-dark);
        --dropdown-content: var(--dropdown-content-dark);
        --dropdown-hover: var(--dropdown-hover-dark);
        --secondary-button-color: var(--secondary-button-color-dark);
        --secondary-text-color: var(--secondary-text-color-dark);
        --title-colour: var(--title-colour-darkmode);
        --link-colour: var(--link-colour-darkmode);
    }
}

[data-theme="light"] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --secondary-color: var(--secondary-color-light);
    --button-color: var(--button-color-light);
    --button-hover: var(--button-hover-light);
    --dropdown: var(--dropdown-light);
    --dropdown-content: var(--dropdown-content-light);
    --dropdown-hover: var(--dropdown-hover-light);
    --secondary-button-color: var(--secondary-button-color-light);
    --secondary-text-color: var(--secondary-text-color-light);
    --title-colour: var(--title-colour-lightmode);
    --link-colour: var(--link-colour-lightmode);
}

[data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --button-color: var(--button-color-dark);
    --button-hover: var(--button-hover-dark);
    --dropdown: var(--dropdown-dark);
    --dropdown-content: var(--dropdown-content-dark);
    --dropdown-hover: var(--dropdown-hover-dark);
    --secondary-button-color: var(--secondary-button-color-dark);
    --secondary-text-color: var(--secondary-text-color-dark);
    --title-colour: var(--title-colour-darkmode);
    --link-colour: var(--link-colour-darkmode);
}


body {
    font-family: 'Spline Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.loaded {
    opacity: 1;
}

#loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    margin: -0.5rem -0.5rem 0.625rem -0.5rem;
    border: none;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.logo-container, .user-container {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.name {
    padding-right: 0;
    margin-right: 0.0625rem;
    color: var(--title-colour);
}

.logo-container .name {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1.4615384615;
    white-space: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
}

#uni-name {
    color: var(--text-color);
    padding-right: 0.625rem;
    padding-left: 0.2rem;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    border: none;
    background-color: var(--background-color);
    border-radius: 8px;
    width: 500px;
}

.name, .create-post, .user-container span {
    margin-left: 0.625rem;
}

.user-profile-container {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.create-post, .login-button {
    display: inline-block;
    text-decoration: none;
    padding: 0.625rem 0.625rem;
    background-color: var(--button-color);
    color: white;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    text-align: center;
    cursor: pointer;
}

.create-post:hover, .login-button:hover {
    background-color: var(--button-hover);
}

.user-container {
    flex-grow: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.short-username {
    color: var(--text-color);
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    margin-right: 0.625rem;
}

.user-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-icon {
    color: var(--text-color);
}

.user-dropbtn {
    background-color: transparent;
    padding: 0.625rem;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-dropbtn:hover {
    background-color: transparent;
}

.user-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--secondary-color);
    min-width: 12.5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.user-dropdown-content a, .user-dropdown-content form button {
    color: var(--text-color);
    padding: 0.75rem 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    font-size: 1.031rem;
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}

[data-theme="auto"] .theme-svg {
    fill: #f0f0f0;
}

[data-theme="light"] .theme-svg {
    fill: var(--button-color-dark);
}

[data-theme="dark"] .theme-svg {
    fill: #f0f0f0;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0.625rem;
}

.toggle-container svg {
    width: 1.25rem;
    height: 1.25rem;
    transition: fill 0.3s;
}

.user-dropdown-content a:hover, .user-dropdown-content form button:hover {
    background-color: var(--dropdown-hover);
}

.right-aligned-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-container {
        margin-bottom: 1rem;
    }

    .user-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 0.5rem;
    }

    .create-post, .login-button, .short-username, .toggle-container {
        margin-bottom: 0.5rem;
    }

    .toggle-container {
        order: 2;
        margin-left: 0.625rem;
    }

    .right-aligned-section {
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        margin-bottom: 0;
    }

    .user-dropdown-content {
        right: auto;
        left: 0;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    padding: 10px;
    margin: 1rem -0.5rem -0.5rem -0.5rem;
    font-size: 0.875rem;
    font-family: 'Source Sans Pro', sans-serif;
    background: var(--secondary-color);
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 1000;
}
