.wrapper {
    display: flex;
    flex-direction: row;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 5px;
}

.left-sidebar {
    background-color: var(--secondary-color);
    border-radius: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.legal-box {
    margin-top: 10px;
    padding: 0 15px 0 15px;
    background-color: var(--secondary-color);
    color: #7e8285;
    text-align: center;
    border-radius: 8px;
    font-size: 0.875rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: normal;
    overflow-wrap: normal;
    hyphens: none;
}

.legal-box a {
    color: var(--link-colour);
    text-decoration: underline;
    display: inline-block;
}

.legal-box p {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    hyphens: auto;
    color: var(--text-color);
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 5px;
}

.right-sidebar-upper, .right-sidebar-lower {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--secondary-color);
    border-radius: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.right-sidebar-lower {
    object-fit: contain;
    overflow-x: hidden;
}

.main-content {
    flex: 2.5;
    padding: 5px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .left-container, .right-sidebar, .main-content {
        width: 100%;
        flex: none;
    }

    .left-container {
        order: 1;
    }

    .main-content {
        order: 2;
        margin-top: 20px;
    }

    .right-sidebar {
        order: 3;
    }

    .left-container, .right-sidebar {
        margin-top: 10px;
    }
}
