.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    border: none;
    background-color: var(--background-color);
    border-radius: 8px;
    width: 500px;
}

.search-input {
    margin-left: 10px;
    flex-grow: 1;
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Spline Sans', sans-serif;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    margin-left: -4px;
}

.search-icon svg {
    fill: var(--text-color);
    height: 20px;
    width: 20px;
}

.search-input:focus {
    outline: none;
}

.search-input {
    height: 100%;
}

.left-sidebar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.university-link {
    display: inline-block;
    padding: 10px 10px;
    background-color: var(--secondary-button-color);
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: center;
}

.university-link:hover, .university-link:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    text-decoration: none;
    color: var(--text-color);
    transform: translateY(-2px);
    transition: background-color 0.3s, transform 0.3s;
}

.university-text {
    margin: 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.right-sidebar-upper-content {
    padding: 20px;
}

.filter-bar {
    background-color: var(--secondary-color);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.filter-title {
    color: var(--text-color);
    font-weight: bold;
}

.filter-button-title {
    font-weight: bold;
    color: white;
    padding-left: 5px;
}

.filter-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 58px;
    padding: 8px 14px;
    background-color: var(--button-color);
    border-radius: 8px;
    margin-left: 2px;
}

.filter-button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.rating-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
}

.star-elements {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}

.filter-rating-star {
    stroke: var(--text-color);
    fill: var(--text-color);
    fill-opacity: 39%;
}

.filter-rating-star:hover {
    stroke: #7F4FD9;
    fill: #C7A9FF;
    fill-opacity: 100%;
    cursor: pointer;
}

.tag-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.year-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.year-input-box {
    height: fit-content;
    width: 40px;
    border: 2px solid var(--button-color);
    border-radius: 8px;
    padding: 5px 5px;
    color: var(--secondary-text-color);
    background-color: var(--background-color);
}

.year-input-box:focus {
    outline: none;
}

.filter-tag-drop-down-button {
    height: 24px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color);
    border-radius: 8px;
}

.filter-tag-drop-down-button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    min-height: fit-content;
}

.post-item {
    position: relative;
    width: 100%;
    min-height: fit-content;
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--text-color);
}

.post-star-empty {
    stroke: var(--text-color);
    fill: var(--text-color);
    fill-opacity: 39%;
}

.module-year {
    background-color: var(--button-color);
    padding: 5px 10px;
    border-radius: 8px;
    white-space: nowrap;
    margin-right: 30px;
    font-weight: bold;
    font-size: 1.125rem;
    color: white;
}

.separator {
    height: 2px;
    background-color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item-element {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--secondary-button-color);
}

.can-hover:hover {
    background-color: var(--button-color);
    color: white;
}


.contents {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
}

.post-like-rating-arrow {
    stroke: var(--text-color);
}

.post-like-rating-arrow:hover {
    cursor: pointer;
    stroke: #7F4FD9;
    fill: #C7A9FF;
}

.post-like-rating-arrow-clicked{
    cursor: pointer;
    stroke: #7F4FD9;
    fill: #C7A9FF;
}



.post-like-rating-counter {
    margin: 0 3px;
}

.open-modal-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .module-year, .open-modal-button {
        margin-top: 10px;
    }

    .items {
        justify-content: center;
    }

    .search-container {
        width: auto;
    }

    .filter-bar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.open-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    vertical-align: middle;
}

.svg-container {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2px;
}

.flag-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-sidebar-lower-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.graphs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

.graphs > div {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.graphs svg {
    max-width: 100%;
    height: auto;
    color: var(--text-color);
}

.analytics-button {
    padding: 10px 10px;
    margin-top: 10px;
    background-color: var(--button-color);
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-align: center;
    cursor: pointer;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    outline: none;
}

.analytics-button:hover {
    background-color: var(--button-hover);
}

.analytics-table {
    margin-left: auto;
    margin-right: auto;
}
.analytics-submit-button {
    display: block;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 58px;
    padding: 8px 14px;
    background-color: var(--button-color);
    border-radius: 8px;
    margin-left: 2px;
    text-decoration: none;
    z-index: 1;
}

.analytics-submit-button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}
.analytics-button-text{
    border: none;
    text-decoration: none;
    background-color:transparent;
    color:var(--text-color-dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
}


.analytics-form-text{
    text-align: left;
}

@media (max-width: 768px) {
    .right-sidebar-lower-content {
        padding: 10px;
        gap: 5px;
    }

    .graphs {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
}

.disclaimer-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 0 15px 0 15px;
    text-align: right;
    border-radius: 8px;
    font-size: 0.8rem;
    word-wrap: normal;
    overflow-wrap: normal;
    hyphens: none;
}

.disclaimer-text {
    margin-left: 8px;
    color: #888;
}
