.modal-login {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-login .modal-content-login {
    background: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    color: var(--text-color);
    margin: 15% auto;
    width: auto;
    max-width: 400px;
    font-size: 14px;
}

.modal-login .close-login {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.modal-login .login-title,
.modal-login .signup-title,
.modal-login .manual-login-title {
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button-wrapper button,
.button-wrapper form {
    width: auto;
    margin-top: 10px;
}

.modal-login .btn-google-login,
.modal-login .btn-microsoft-login,
.modal-login .btn-other-login {
    border-radius: 20px;
    border: none;
    font-size: 15px;
    padding: 12px 20px;
    font-weight: 500;
    min-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: white;
    color: #515151;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.modal-login .btn-google-login,
.modal-login .btn-microsoft-login {
    margin-top: 0;
}

.modal-login .btn-google-login:hover,
.modal-login .btn-microsoft-login:hover {
    background: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-login .btn-other-login {
    background: var(--button-color);
    color: var(--text-color-dark);
}

.modal-login .btn-other-login:hover {
    background: var(--button-hover);
}

.modal-login .button-as-link {
    color: #4fc3f7;
    text-decoration: none;
    margin-top: 15px;
    display: block;
    cursor: pointer;
}

.modal-login .button-as-link:hover {
    text-decoration: underline;
    color: #29b6f6;
}

.modal-login .login-footer {
    font-size: 12px;
    margin-top: 20px;
    color: var(--text-color);
    text-align: center;
}

.modal-login .google-icon,
.modal-login .microsoft-icon {
    margin-right: 10px;
}

.modal-login .login-disclaimer {
    font-size: 12px;
    margin-top: 20px;
    color: var(--secondary-text-color);
    font-weight: 100;
    text-align: center;
    padding: 10px 0;
}

.modal-content-signup {
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin: 10% auto;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.signup-form .form-group {
    width: 100%;
}

.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="text"],
.signup-form select {
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.signup-form input::placeholder {
    color: var(--text-color);
}

.signup-form input[type="email"]:focus,
.signup-form input[type="password"]:focus,
.signup-form input[type="text"]:focus {
    box-shadow: 0 0 0 2px #925EF4;
    outline: none;
}

.btn-signup {
    padding: 12px 20px;
    border-radius: 20px;
    background-color: var(--button-color);
    color: #fff;
    font-size: 15px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: fit-content;
    margin: 0 auto;
    border: transparent;
}

.btn-signup:hover {
    background-color: var(--button-hover);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    gap: 10px;
}

.btn-link-account {
    color: var(--text-color-dark);
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-link-account:hover {
    background: #7aa9f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.btn-google-microsoft {
    background: #4285F4;
    align-self: center;
}

.signup-alt-option {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-color);
    margin-top: 10px;
    font-size: 15px;
}

.btn-sign-in-link {
    background: none;
    border: none;
    color: #4285F4;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    transition: color 0.2s ease-in-out;
}

.btn-sign-in-link:hover {
    color: #94baf8;
}

.signup-or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.signup-or-divider::before,
.signup-or-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dcdcdc;
}

.or-text {
    margin: 0 10px;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0 5px;
}

.modal-content-manual-login {
    box-sizing: border-box;
}

.manual-login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.manual-login-form .form-group {
    width: 100%;
}

.manual-login-form input[type="email"],
.manual-login-form input[type="password"],
.manual-login-form input[type="text"],
.manual-login-form select {
    width: calc(100% - 40px);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.manual-login-form input::placeholder {
    color: var(--text-color);
}

.manual-login-form .form-group input[type="password"] + .help-text {
    margin-top: 10px;
    margin-bottom: 2px;
}

a[href="/accounts/password/reset/"] {
    color: var(--text-color);
    text-decoration: underline;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: right;
    font-size: 14px;
}

a[href="/accounts/password/reset/"]:hover {
    color: #7f7f7f;
}

#manualLoginModal .form-group label[for="id_login_remember"] {
    color: #9f9f9f !important;
    font-size: 14px;
}

.manual-login-form .form-group:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.manual-login-form input[type="email"]:focus,
.manual-login-form input[type="password"]:focus,
.manual-login-form input[type="text"]:focus {
    box-shadow: 0 0 0 2px #925EF4;
    outline: none;
}

.btn-manual-login {
    padding: 12px 40px;
    border-radius: 20px;
    background-color: var(--button-color);
    color: #fff;
    font-size: 15px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: fit-content;
    margin: 0 auto;
    border: transparent;
}

.btn-manual-login:hover {
    background-color: var(--button-hover);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.manual-login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-link-manual-login,
.btn-link-manual-signup {
    background: none;
    border: none;
    color: #4fc3f7;
    padding: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.btn-link-manual-login:hover,
.btn-link-manual-signup:hover {
    color: #29b6f6;
}
