.main-content {
    flex: 2.5;
    padding: 5px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 0 auto; /* Center the main content */
}

.search-bar {
    background-color: #262D34;
    padding: 10px;
    margin-bottom: 20px;
    height: 75px;
    border-radius: 12px; /* Added border radius */
    box-sizing: border-box;
}

.content-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.grid-item {
    width: 100%; /* Take up all available width */
    max-width: 100%; /* Prevent it from exceeding the parent container */
    background-color: #262D34;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    overflow: hidden; /* Hide overflow content */
    margin-bottom: 10px; /* Space between posts */
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.post-title {
    font-size: 1.2em;
    color: var(--button-color-light);
    margin: 0;
}

.post-year {
    background: #555;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 0.8em;
}

.post-stats {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.post-likes, .post-stars, .post-tags {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.post-stars {
    margin-left: 20px;
}

.post-tags-list {
    display: none; /* Hidden by default, show on click if needed */
}

.post-module {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.module {
    background: #444;
    color: #fff;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 0.8em;
}

.post-date {
    font-size: 0.8em;
    color: #ccc;
}

.post-content {
    font-size: 0.9em;
    line-height: 1.4;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 15px;
}
