.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--button-color-light);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

.module-selection-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.module-selection-container select {
    padding: 8px 12px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}

.module-selection-container select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #925EF4;
}

.module-selection-container label {
    margin-right: 5px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .module-selection-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .module-selection-container select {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .module-selection-container label {
        margin-bottom: 5px;
    }
}

textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    min-height: 150px;
    color: var(--text-color);
    background-color: var(--background-color);
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #925EF4;
}

.rating-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 18px;
}

.rating {
    display: flex;
    flex-direction: row-reverse; /* Reverse the flex container */
    justify-content: flex-end;
    gap: 4px;
    margin-left: 10px;
}

.rating input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.rating label {
    cursor: pointer;
    font-size: 35px;
    color: #925EF4; /* Default star color */
}


.rating label:before {
    content: "☆"; /* Empty star */
}

.rating label:hover:before,
.rating label:hover ~ label:before,
.rating input[type="radio"]:checked ~ label:before {
    content: "★"; /* Filled star character */
    color: #925EF4; /* Color of filled stars */
}

/* Specifically fill the selected star */
.rating input[type="radio"]:checked + label:before {
    content: "★";
    color: #925EF4;
}

.sliders-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sliders-container > div {
    text-align: center;
    width: 30%;
}

.sliders-container .rating-container {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Horizontally centers the items */
    flex-basis: calc(33.333% - 10px); /* Gives each item a third of the container width minus margin */
    margin: 5px; /* Adds a small margin to each side */
}

.sliders-container .rating-container .rating {
    justify-content: center; /* Ensures stars are centered */
}

.small-rating .rating label {
    font-size: 30px; /* Adjust to desired smaller star size */
}

.sliders-container label {
    display: block;
    margin-bottom: 15px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: var(--background-color);
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #6c3cc5;
    border: 2px solid #6c3cc5;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px #6c3cc5;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #6c3cc5;
    border: 2px solid #6c3cc5;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px #6c3cc5;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-moz-range-thumb:hover {
    background: #6c3cc5;
}

input[type="range"]:active::-webkit-slider-thumb,
input[type="range"]:active::-moz-range-thumb {
    background: #6c3cc5;
    box-shadow: 0 0 4px #6c3cc5;
}

.tags-container {
    display: flex;
    justify-content: space-evenly; /* Matches sliders-container */
    align-items: center; /* Centers items vertically */
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.tag-input-container {
    flex-basis: calc(33.333% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns the text and input box to the center */
    position: relative;
}

.tag-input-container label {
    text-align: center; /* Center-align the label text */
    margin-bottom: 5px;
}

.tag-input-container input[type="text"] {
    padding: 8px 12px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    box-sizing: border-box; /* Adds padding and border into the width */
}

.tag-input-container input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #925EF4;
}

.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    overflow-y: auto;
    max-height: 150px;
}

.autocomplete-item {
    padding: 10px;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif; /* Match the font family */
    color: var(--text-color);
}

.autocomplete-item:last-child {
    border-bottom: none;
}

.autocomplete-item:hover {
    background-color: var(--dropdown-hover);
}

/* Selected Tags Styling */
.selected-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 4px; /* Space between input box and selected tags */
}

.selected-tag {
    background-color: #925EF4;
    color: white;
    border-radius: 16px;
    padding: 4px 8px;
    font-size: 0.9em;
}

.remove-tag {
    cursor: pointer;
    padding: 0 4px;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: auto;
    height: auto;
    line-height: 1;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

button:hover {
    background-color: var(--button-hover);
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .tags-container,
    .tag-input-container {
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 100%;
    }

    .sliders-container,
    .tags-container {
        justify-content: start;
    }
}


.form-errors-container {
    background-color: #ffcccc; /* Light red background */
    color: #cc0000; /* Darker red text for contrast */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cc0000;
    margin: 20px auto; /* Center the container */
    width: 90%; /* Adjust as necessary */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    text-align: center; /* Center the text */
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 768px) {
    .form-errors-container {
        width: 50%; /* More width on smaller screens */
    }
}

/*!* Modal Styles *!*/
/*.disclaimer-modal {*/
/*    display: none;*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*    background-color: rgba(0, 0, 0, 0.4);*/
/*}*/

/*.disclaimer-modal-content {*/
/*    background-color: var(--secondary-color);*/
/*    margin: 15% auto;*/
/*    padding: 20px;*/
/*    border: 1px solid var(--secondary-color);*/
/*    width: 80%;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
/*    border-radius: 5px;*/
/*    align-content: center;*/
/*    color: var(--text-color);*/
/*    text-align: center; !* Center the text *!*/
/*}*/

/*.disclaimer-close {*/
/*    color: var(--text-color);*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

/*.disclaimer-close:hover,*/
/*.disclaimer-close:focus {*/
/*    color: var(--text-color);*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: var(--secondary-color);
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Optional */
}

/* The Close Button */
.close-button {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}


.modal-content h2 {
    text-align: center; /* Center the title */
    margin-bottom: 0.5em; /* Reduce the space below the title */
    color: var(--button-color-light);
}

/* Style for input fields */
.modal-content input[type="text"] {
    padding: 12px; /* Increase padding */
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%; /* Adjust width as needed */
    box-sizing: border-box;
    margin: 10px auto; /* Center input horizontally with margin */
}

.modal-content input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #925EF4;
}

.custom-tag {
    /* Custom styling for unverified tags */
    background-color: #f45e75;
}
