.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: auto;
    height: auto;
    line-height: 1;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

button:hover {
    background-color: var(--button-hover);
}
