.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: var(--title-colour);
    margin-bottom: 20px;
    text-align: center;
}

.university-form {
    margin-top: 20px;
}

.university-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
    color: var(--text-color);
}

.university-option {
    font-size: 16px;
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.submit-button:hover {
    background-color: var(--button-hover);
}
