.wrapper {
    display: flex;
    flex-direction: row;
}

.left-sidebar {
    flex: 1;
    background-color: var(--secondary-color-dark);
    border-radius: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    align-self: flex-start;
    margin-top: 5px;
}

.right-sidebar {
    display: inline-grid;
    flex: 1;
    margin-top: 5px;
}

.right-sidebar-upper {
    background-color: var(--secondary-color-dark);
    border-radius: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    align-self: flex-start;
}

.right-sidebar-lower {
    background-color: var(--secondary-color-dark);
    border-radius: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    align-self: flex-start;
}

.main-content {
    flex: 2.5;
    padding: 5px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 0 auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .sidebar, .right-sidebar {
        flex-basis: 100%;
        order: -1;
    }

    .main-content, .sidebar, .right-sidebar {
        flex: none;
        width: 100%;
    }
}
