{% extends "ratemymodule/base.html" %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'ratemymodule/styles/content.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="wrapper">
        <aside class="left-container">
            <div class="left-sidebar">
                {% block left_sidebar_upper %}
                {% endblock left_sidebar_upper %}
            </div>

            <div class="legal-box">
                <p>By using this site, you agree to our
                    <a href="{% static 'ratemymodule/legal-docs/GDPR Privacy Policy.pdf' %}">
                        GDPR policy
                    </a>
                </p>
            </div>
        </aside>

        <section class="main-content">
            {# This block will be overridden by child templates #}
            {% block main_content %}
            {% endblock main_content %}
        </section>

        <aside class="right-sidebar">
            <section class="right-sidebar-upper">
                {# Upper right sidebar content #}
                {% block right_sidebar_upper %}
                {% endblock right_sidebar_upper %}
            </section>

            <section class="right-sidebar-lower">
                {# Lower right sidebar content #}
                {% block right_sidebar_lower %}
                {% endblock right_sidebar_lower %}
            </section>
        </aside>
    </div>
{% endblock content %}
