{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="Enhanced student feedback for university modules; A dynamic and user-friendly platform for honest reviews."/>
    <meta name="keywords"
          content="university modules,student,feedback,anonymous,{{ request.site.name }}"/>
    <meta property="og:title" content="{{ request.site.name }}" />
    <meta property="og:description"
          content="Enhanced student feedback for university modules; A dynamic and user-friendly platform for honest reviews."/>
    <meta property="og:url" content="https://{{ request.site.domain }}" />
    <meta property="og:image"
          content="https://{{ request.site.domain }}{% static 'ratemymodule/icons/logo.svg' %}" />
    <meta property="og:type" content="website">
    <meta itemprop="name" content="{{ request.site.name }}" />
    <meta itemprop="description"
          content="Enhanced student feedback for university modules; A dynamic and user-friendly platform for honest reviews." />


    <title>{% block title %}{{ request.site.name }}{% if selected_university %} | {{ selected_university }}{% endif %}{% endblock title %}</title>

    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% url 'ratemymodule:apple_favicon_redirect' %}"/>
    <link rel="icon"
          type="image/svg+xml"
          href="{% url 'ratemymodule:svg_favicon_redirect' %}"/>
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% url 'ratemymodule:favicon_32_redirect' %}"/>
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% url 'ratemymodule:favicon_16_redirect' %}"/>
    <link rel="manifest"
          href="{% url 'ratemymodule:site_webmanifest_redirect' %}"/>
    <link rel="mask-icon"
          href="{% url 'ratemymodule:svg_safari_pinned_tab' %}"
          color="#b295e8"/>
    <meta name="msapplication-TileColor" content="#b295e8"/>
    <meta name="theme-color" content="#b295e8" data-react-helmet="true" />

    <link rel="stylesheet" href="{% static 'ratemymodule/styles/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'ratemymodule/styles/login-modals.css' %}"/>
    {% block styles %}
    {% endblock styles %}

    <!-- Scripts -->
    <script>
        (function () {
            var theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
            document.documentElement.setAttribute('data-theme', theme);
        })();
    </script>
    <script src="{% static 'ratemymodule/scripts/search.js' %}"></script>
    <script src="{% static 'ratemymodule/scripts/rating-star-changer.js' %}"></script>
    <script src="{% static 'ratemymodule/scripts/filter.js' %}"></script>
    <script src="{% static 'ratemymodule/scripts/handle-like-rating.js' %}"></script>
</head>

<body>
<div id="loading-overlay"
     style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: white; z-index: 10000;">
</div>
<header>
    <div class="banner">
        <div title="RateMyModule | {{ selected_university }}" class="logo-container">
            <a href="{% url 'default' %}"
               style="display: flex; align-items: center; text-decoration: none; color: inherit;">
                <svg role="img" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
                    <rect x="0.5" y="0.5" width="39" height="39" rx="7.5" fill="var(--button-color)" stroke="var(--button-color)" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1071 10H22.2857L21.6607 10.2532L20.5 11.3333L19.3393 10.2532L18.7143 10H8.89286L8 10.8439V27.7215L8.89286 28.5654H18.3393L19.875 30H21.125L22.6607 28.5654H32.1071L33 27.7215V10.8439L32.1071 10ZM19.6071 27.4177L19.2857 27.1308L18.7143 26.8776H9.78571V11.6878H18.3393L19.6607 12.9367L19.6071 27.4177ZM31.2143 26.8776H22.2857L21.6607 27.1308L21.4107 27.3502V12.8692L22.6607 11.6878H31.2143V26.8776ZM16.9286 15.0633H11.5714V16.7511H16.9286V15.0633ZM16.9286 21.8143H11.5714V23.5021H16.9286V21.8143ZM11.5714 18.4388H16.9286V20.1266H11.5714V18.4388ZM29.4286 15.0633H24.0714V16.7511H29.4286V15.0633ZM24.0714 18.4388H29.4286V20.1266H24.0714V18.4388ZM24.0714 21.8143H29.4286V23.5021H24.0714V21.8143Z" fill="white" />
                </svg>
                <span class="name">{{ request.site.name }}</span>
                {% if request.user.is_authenticated %}
                    <p id="uni-name">{{ selected_university.short_name }}</p>
                {% endif %}
            </a>
            {% if selected_university %}
                {% if not request.user.is_authenticated %}
                    <a style="display: flex; align-items: center; text-decoration: none; color: inherit;"
                       href="{{ select_university_url }}">
                        <p id="uni-name">{{ selected_university.short_name }}</p>
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <div title="Search for a post" class="search-container">{% block search_bar %}{% endblock search_bar %}</div>

        <div class="user-profile-container">
            {% block user_profile %}
                {% if not request.user.is_authenticated or request.user.enrolled_course_set.exists and request.resolver_match.view_name != "ratemymodule:submit-review" %}
                    <a title="Create Post" href="{% url 'ratemymodule:submit-review' %}"
                       class="create-post">Create Post</a>
                {% endif %}

                {% if user.is_authenticated %}
                    <div class="user-dropdown">
                        <button class="user-dropbtn">
                            <span class="short-username">{{ user.short_username }}</span>
                            <img src="{% static 'ratemymodule/icons/down-arrow-dark.svg' %}"
                                 alt="Dropdown Icon" class="dropdown-icon"/>
                        </button>

                        <div class="user-dropdown-content">
                            <a title="User Settings" href="{% url 'ratemymodule:change-email' %}">
                                User Settings
                            </a>

                            {% if user.is_staff %}
                                <a title="Admin Site" href="{% url 'admin:index' %}">Admin Site</a>
                            {% endif %}

                            <a title="Browsable API" href="{% url 'api_rest:root' %}">Browsable API</a>

                            <form method="post" action="{% url 'ratemymodule:post-logout' %}">
                                {% csrf_token %}
                                <button title="Logout" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>

                {% else %}
                    <a href="{{ LOGIN_URL }}" class="login-button">Login/Register</a>
                {% endif %}
            {% endblock user_profile %}
        </div>
        <div class="toggle-container">
            <svg class="theme-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Toggle Theme</title>
                <g clip-path="url(#a)">
                    <path d="M12 0a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1ZM4.929 3.515a1 1 0 0 0-1.414 1.414l2.828 2.828a1 1 0 0 0 1.414-1.414L4.93 3.515ZM1 11a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2H1ZM18 12a1 1 0 0 1 1-1h4a1 1 0 1 1 0 2h-4a1 1 0 0 1-1-1ZM17.657 16.243a1 1 0 0 0-1.414 1.414l2.828 2.828a1 1 0 1 0 1.414-1.414l-2.828-2.828ZM7.757 17.657a1 1 0 1 0-1.414-1.414L3.515 19.07a1 1 0 1 0 1.414 1.414l2.828-2.828ZM20.485 4.929a1 1 0 0 0-1.414-1.414l-2.828 2.828a1 1 0 1 0 1.414 1.414l2.828-2.828ZM13 19a1 1 0 1 0-2 0v4a1 1 0 1 0 2 0v-4ZM12 7a5 5 0 1 0 0 10 5 5 0 0 0 0-10Z"></path>
                </g>
                <defs>
                    <clipPath id="a">
                        <path d="M0 0h24v24H0z"></path>
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
</header>

<main>
    {% block content %}
        {# content goes here i.e. base-with-content.html #}
    {% endblock content %}
</main>

{% block modals %}
    {% include "ratemymodule/fragments/login-modals.html" %}
{% endblock modals %}

<footer>
    <p>
        You are accessing an experimental web application developed by
        participants of the Team Project 2024 module.
    </p>
</footer>

{# HTMX script here #}
<script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>

{% block scripts %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("loginModal").style.display = "{% if request.GET.action == "login" %}block{% else %}none{% endif %}";
                document.getElementById("manualSignupModal").style.display = "none";
                document.getElementById("manualLoginModal").style.display = "none";
            });

            function closeLoginModal() {
                const currentURL = new URL(window.location.href);
                currentURL.searchParams.delete("action", "login");
                window.location.href = currentURL.toString();
            }
            function openLoginModal() {
                document.getElementById("manualSignupModal").style.display = "none";
                document.getElementById("manualLoginModal").style.display = "none";
                document.getElementById("loginModal").style.display = "block";
            }
            function openManualSignupModal() {
              document.getElementById("loginModal").style.display = "none";
              document.getElementById("manualLoginModal").style.display = "none";
              document.getElementById("manualSignupModal").style.display = "block";
            }
            function openManualLoginModal() {
              document.getElementById("loginModal").style.display = "none";
              document.getElementById("manualSignupModal").style.display = "none";
              document.getElementById("manualLoginModal").style.display = "block";
            }
        </script>
        <script>
            function toggleTheme() {
                const currentTheme = document.documentElement.getAttribute('data-theme');
                const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
                document.documentElement.setAttribute('data-theme', newTheme);
                localStorage.setItem('theme', newTheme);
                setDropdownIconTheme(newTheme);
                // You might want to call any function here that updates the SVG fill based on the theme
            }

        function setDropdownIconTheme(theme) {
            const dropdownIcons = document.querySelectorAll('.dropdown-icon');
            dropdownIcons.forEach(icon => {
                icon.src = `/static/ratemymodule/icons/down-arrow-${theme}.svg`;
            });
        }

        // Add click event listener to the SVG for theme toggling
        document.addEventListener('DOMContentLoaded', () => {
            const savedTheme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
            document.documentElement.setAttribute('data-theme', savedTheme);
            setDropdownIconTheme(savedTheme);
            // Update this part to target the SVG container instead of an input element
            const themeToggleSvg = document.querySelector('.toggle-container');
            if (themeToggleSvg) {
                themeToggleSvg.addEventListener('click', toggleTheme);
            }

            // Hide the loading overlay if it exists
            const loadingOverlay = document.getElementById('loading-overlay');
            if (loadingOverlay) {
                loadingOverlay.style.display = 'none';
            }
            document.body.classList.add('loaded');
        });
    </script>
{% endblock scripts %}
</body>
</html>
