{% extends "ratemymodule/base-user-settings.html" %}

{% load static %}

{% block main_content %}
    <h2>Change Email Address</h2>
    <form method="post" class="settings-form">
        {% csrf_token %}

        {% if current_emailaddress %}
            <label for="change_email_field">Current email:</label>
            <input id="change_email_field" disabled type="email" value="{{ current_emailaddress.email }}" />
        {% endif %}

        {% if new_emailaddress %}
            <label for="change_email_field">
                {% if not current_emailaddress %}
                    Current email:
                {% else %}
                    Changing to:
                {% endif %}
            </label>
            <input name="change_email_field" value="{{ new_emailaddress.email }}" disabled type="email" />
        {% endif %}

        <div class="error-list">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% if field == "__all__" %}
                        {% for error in errors %}
                            <li>{{ error|striptags }}</li>
                        {% endfor %}
                    {% else %}
                        <li>{{ field|striptags|title }}:
                            <ul>{% for error in errors %}
                                <li>{{ error|striptags }}</li>{% endfor %}</ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <label for="new_email_field">Change to:</label>
        <input id="new_email_field" name="email" value="{{ form.email.value }}" type="email" />

        <button name="action_add" type="submit" class="settings-button">
            Change Email
        </button>
    </form>
{% endblock main_content %}
