{% extends "ratemymodule/base-user-settings.html" %}

{% load static %}

{% block main_content %}
    {# Main content for user settings #}
    <h2>Change Email Address</h2>
    <form method="post">
        {% csrf_token %}

        {% if current_emailaddress %}
            <input id="change_email_field" disabled type="email" value="{{ current_emailaddress.email }}" />
            <label for="change_email_field">Current email</label>
        {% endif %}

        {% if new_emailaddress %}
            <input name="change_email_field" value="{{ new_emailaddress.email }}" disabled type="email" />
            <label for="change_email_field">
                {% if not current_emailaddress %}
                    Current email:
                {% else %}
                    Changing to":
                {% endif %}
            </label>
        {% endif %}

        <ul>
            {% for field, errors in form.errors.items %}
                {% if field == "__all__" %}
                    {% for error in errors %}
                        <li>{{ error|striptags }}</li>
                    {% endfor %}
                {% else %}
                    <li>{{ field|striptags|title }}:
                        <ul>{% for error in errors %}
                            <li>{{ error|striptags }}</li>{% endfor %}</ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <input id="new_email_field" name="email" value="{{ form.email.value }}" type="email" />
        <label for="new_email_field">Change to:</label>

        <button name="action_add" type="submit">
            Change Email
        </button>
    </form>
{% endblock main_content %}
