{% extends "ratemymodule/base.html" %}
{% load static %}

{% block title %}Submit a Review | {{ block.super }}{% endblock %}

{% block styles %}
    <link rel="stylesheet"
          href="{% static 'ratemymodule/styles/submit-review.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container">
        <h1>Submit Your Module Review</h1>
        <form id="review-form" method="post"
              action="{% url 'ratemymodule:submit-review' %}">
            {% csrf_token %}
            <div class="module-selection-container">
                <label for="moduleSelect">Module:</label>
                <select id="moduleSelect" name="module" required>
                    <option value="" disabled selected>Select module...
                    </option>
                    {% for module in module_choices %}
                        <option value="{{ module.id }}">{{ module.name }}</option>
                    {% endfor %}
                </select>
                <label for="academicYearSelect">Year:</label>
                <select id="academicYearSelect" name="academic_year_start"
                        required>
                    <option value="" disabled selected>Select academic
                        year...
                    </option>
                    {% for year, display_year in academic_year_choices %}
                        <option value="{{ year }}">{{ display_year }}</option>
                    {% endfor %}
                </select>
            </div>
            {{ form.content }}
            <div class="rating-container" aria-labelledby="overallRatingLabel">
                <label id="overallRatingLabel">Overall Rating:</label>
                <div class="rating">
                    {% for value, star in form.overall_rating.field.choices reversed %}
                        <input type="radio" id="star{{ value }}"
                               name="{{ form.overall_rating.html_name }}"
                               value="{{ value }}"
                               aria-label="Overall Rating {{ value }}">
                        <label for="star{{ value }}"></label>
                    {% endfor %}
                </div>
            </div>

            <div class="sliders-container">
                <div class="rating-container small-rating"
                     aria-labelledby="difficultyRatingLabel">
                    <label id="difficultyRatingLabel">Difficulty:</label>
                    <div class="rating" role="radiogroup"
                         aria-labelledby="difficultyRatingLabel">
                        {% for value, star in form.difficulty_rating.field.choices reversed %}
                            <input type="radio" id="difficulty_star{{ value }}"
                                   name="{{ form.difficulty_rating.html_name }}"
                                   value="{{ value }}" tabindex="0"
                                   aria-label="Difficulty Rating {{ value }}">
                            <label for="difficulty_star{{ value }}"></label>
                        {% endfor %}
                    </div>
                </div>
                <div class="rating-container small-rating"
                     aria-labelledby="teachingQualityLabel">
                    <label id="teachingQualityLabel">Teaching Quality:</label>
                    <div class="rating" role="radiogroup"
                         aria-labelledby="teachingQualityLabel">
                        {% for value, star in form.teaching_rating.field.choices reversed %}
                            <input type="radio" id="teaching_star{{ value }}"
                                   name="{{ form.teaching_rating.html_name }}"
                                   value="{{ value }}" tabindex="0"
                                   aria-label="Teaching Quality Rating {{ value }}">
                            <label for="teaching_star{{ value }}"></label>
                        {% endfor %}
                    </div>
                </div>
                <div class="rating-container small-rating"
                     aria-labelledby="assessmentQualityLabel">
                    <label id="assessmentQualityLabel">Assessment
                        Quality:</label>
                    <div class="rating" role="radiogroup"
                         aria-labelledby="assessmentQualityLabel">
                        {% for value, star in form.assessment_rating.field.choices reversed %}
                            <input type="radio" id="assessment_star{{ value }}"
                                   name="{{ form.assessment_rating.html_name }}"
                                   value="{{ value }}" tabindex="0"
                                   aria-label="Assessment Quality Rating {{ value }}">
                            <label for="assessment_star{{ value }}"></label>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="tags-container">
                <div class="tag-input-container" data-tag-type="tool_tags">
                    <label for="tool_tags_autocomplete">Tools Used:</label>
                    <input type="text" id="tool_tags_autocomplete"
                           autocomplete="off" aria-label="Tools Used">
                    <input type="hidden" name="tool_tags" id="id_tool_tags">
                    <div class="selected-tags-container"></div>
                </div>

                <div class="tag-input-container" data-tag-type="topic_tags">
                    <label for="topic_tags_autocomplete">Main Topics:</label>
                    <input type="text" id="topic_tags_autocomplete"
                           autocomplete="off" aria-label="Main Topics">
                    <input type="hidden" name="topic_tags" id="id_topic_tags">
                    <div class="selected-tags-container"></div>
                </div>

                <div class="tag-input-container" data-tag-type="other_tags">
                    <label for="other_tags_autocomplete">Other Tags:</label>
                    <input type="text" id="other_tags_autocomplete"
                           autocomplete="off" aria-label="Other Tags">
                    <input type="hidden" name="other_tags" id="id_other_tags">
                    <div class="selected-tags-container"></div>
                </div>
            </div>

            <button type="submit" aria-label="Submit Review">Submit Review
            </button>
        </form>
    </div>

    {% if form.non_field_errors or form.errors %}
        <div class="form-errors-container" aria-live="assertive">
            <strong>Please correct the following errors:</strong>
            <!-- Display non-field errors -->
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
            <!-- Display field-specific errors -->
            {% for field in form %}
                {% for error in field.errors %}
                    <p><strong>{{ field.label }}:</strong> {{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

{#    <div id="disclaimerModal" class="disclaimer-modal"#}
{#         aria-labelledby="disclaimerTitle" aria-modal="true" role="dialog">#}
{#        <div class="disclaimer-modal-content">#}
{#            <span class="disclaimer-close" aria-label="Close disclaimer">&times;</span>#}
{#            <p id="disclaimerTitle">We currently only accept submissions in <b>English</b>#}
{#                and hope to expand to other languages soon.</p>#}
{#        </div>#}
{#    </div>#}

{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'ratemymodule/scripts/autocomplete-tags.js' %}"></script>
    <script>
        document.querySelectorAll('.rating input[type="radio"]').forEach(radio => {
            radio.addEventListener('focus', function () {
                this.nextElementSibling.classList.add('focus');
            });
            radio.addEventListener('blur', function () {
                this.nextElementSibling.classList.remove('focus');
            });
        });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var disclaimerModal = document.getElementById('disclaimerModal');
            var closeButton = document.getElementsByClassName('disclaimer-close')[0];

            closeButton.onclick = function () {
                disclaimerModal.style.display = 'none';
            }

            window.onclick = function (event) {
                if (event.target == disclaimerModal) {
                    disclaimerModal.style.display = 'none';
                }
            }

            setTimeout(function () {
                disclaimerModal.style.display = 'none';
            }, 5000);

            disclaimerModal.style.display = 'block';
        });
    </script>
{% endblock scripts %}
