{% extends "ratemymodule/base.html" %}
{% load static %}

{% block title %}Select a University | {{ block.super }}{% endblock %}

{% block styles %}
    <link rel="stylesheet"
          href="{% static 'ratemymodule/styles/university-selector.css' %}">
{% endblock styles %}

{% block user_profile %}{% endblock user_profile %}

{% block content %}
    <div class="container">
        <h1 class="title">Select Your University</h1>

        <form id="university-form" method="get" class="university-form">
            <input type="hidden" name="action" value="select_university">
            <label for="universitySelect" style="display: none;" class="university-label">Select a University:</label>
            <select name="university" id="universitySelect" required class="university-select">
                <option value="" disabled selected>Select a University...
                </option>
                {% for university in university_choices %}
                    <option value="{{ university.pk }}" class="university-option">{{ university.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" aria-label="Submit" class="submit-button">Submit</button>
        </form>
    </div>

{% endblock content %}
