{% extends "ratemymodule/base-with-content.html" %}

{% load static %}

{% block title %}{{ block.super }} | User Settings{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'ratemymodule/styles/user-settings.css' %}" />
{% endblock styles %}

{% block left_sidebar %}
    {# Include content for the left sidebar i.e. navigation links for user settings #}
{% endblock left_sidebar %}

{% block main_content %}
    {# Main content for user settings #}
{% endblock main_content %}
