{% extends "rest_framework/base.html" %}
{% load i18n %}

{% block title %}{% if name %}{{ name }} | {% endif %}RateMyModule REST API{% endblock %}

{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="{% url 'api_rest:root' %}">
        {% trans "RateMyModule REST API" %}
    </a>
{% endblock branding %}

{% block userlinks %}
    {{ block.super }}
    <li><a href="{% url 'default' %}">View Site</a></li>
    {% if request.user.is_staff %}
        <li><a href="{% url 'admin:index' %}">View Admin Site</a></li>
    {% endif %}
{% endblock userlinks %}
